html {
	font-size: $base-font-size-mobile;
	background: $application-background;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
  font-size: $base-size;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
	color: $base-font-color;
	background: $application-background;
	margin: 0 auto;
	padding: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: $base-link-color;
}

*, *:before, *:after {
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
}

.flex {
	display: flex;
}

.responsive-image-container {
  img {
    max-width: 100%;
  }
}
