.show {
  .show-info {
    padding: 1rem;
  }
  .show-name {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 200;
  }
  .show-airtime {
    color: $gray-light;
    line-height: 1;
    padding-top: .5rem;
  }
}

