.shows-list {
  margin: 1rem 0;
  a {
    display: block;
    padding: .75rem 1rem;
    color: $white-cream;
    text-decoration: none;
    font-weight: 200;
    font-size: 1.2rem;
    &.active {
      background: #2e2f33;
      border-right: .5rem solid $blue;
    }
  }
}
