<!doctype html>

  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/dist/assets/css/main.css'>
  </head>

  <body>
    {{{body}}}
    
    <script type="text/javascript" src="/dist/assets/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/dist/assets/js/lib/lodash.min.js"></script>
    <script type="text/javascript" src="/dist/assets/js/main.js"></script>
  </body>

</html>