$gray = rgba(35,35,35,1);
$gray-light = rgba(100,100,100,1);
$gray-dark = rgba(25,25,25,1);
$white-cream = rgba(235,235,235,1);
$green = rgba(92, 184, 92,.95);
$blue = rgba(66, 139, 202,.95);
$red = rgba(210, 50, 45,.95);

$application-background = $gray-dark;

$base-font-size = 62.5%;
$base-font-size-tablet = 70%;
$base-font-size-mobile = 75%;
$base-size = 1.3rem;
$base-font-color = rgba(195,195,195,1);
$base-link-color = $blue;
$base-border-color = rgba(150,150,150,.4);
$base-shadow-color = rgba(80,80,80,.5);

$timing-function = cubic-bezier(0.10, 0.70, 0.10, 1);

$jumpto-background = rgba(255,255,255,.8);
