<ul class="shows-list">
  {{#each show in model itemController="show"}}
    <li>
      {{#link-to 'show' show.tvdbid }}
        <div class="show-info">
          <h5 class="show-name">{{show.show_name}}</h5>
          <span class="show-network">{{show.network}}</span>
        </div>
        <div class="responsive-image-container show-poster">
          <img {{bind-attr src=show.poster}}>
        </div>
      {{/link-to}}
    </li>
  {{/each}}
</ul>
